vgchl.com {
	tls {
		dns cloudflare {env.CF_API_KEY}
	}

	handle /.well-known/matrix/client {
		respond ` {
			"m.homeserver": {
				"base_url": "https://matrix.vgchl.com"
			}			,
			"org.matrix.msc3575.proxy": {
				"url": "https://matrix.vgchl.com"
			}
		}		` 200
	}

	handle /.well-known/matrix/server {
		respond ` {
			"m.server": "matrix.vgchl.com:443"
		}		` 200
	}

	handle /* {
		respond "Not Found" 404
	}
}

matrix.vgchl.com, vgchl.com:8448 {
	tls {
		dns cloudflare {env.CF_API_KEY}
	}

	handle / {
		respond "vgchl matrix" 200
	}

	handle /* {
		reverse_proxy matrix.vgchl.internal:80
	}

	encode gzip
}
