[Unit]
Description=Load Secrets

[Service]
Type=oneshot
Environment=SECRETS_DIR=/home/worker/secrets
ExecStart=/home/worker/secrets/load-secrets.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
