[Container]
Image=docker.io/library/caddy:2-alpine
Volume=/home/worker/caddy/data:/data:rw,Z
Volume=/home/worker/caddy/conf:/etc/caddy:ro,Z
Network=netbird.container
Secret=cloudflare-api-key,type=env,target=CF_API_KEY
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
