[Container]
Image=lscr.io/linuxserver/bazarr:latest
Volume=/var/mnt/config/bazarr:/config:rw,z
Volume=/var/mnt/data/jellyfin/media:/data/media:rw,z
Network=jellyfin.network
NetworkAlias=bazarr
Environment=PUID=1234
Environment=PGID=1234
UIDMap=+1234:@%U
GIDMap=+1234:@%G
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
