jellyfin.vgchl.internal {
	reverse_proxy jellyfin:8096
}

sonarr.jellyfin.vgchl.internal {
	reverse_proxy sonarr:8989
}

radarr.jellyfin.vgchl.internal {
	reverse_proxy radarr:7878
}

qbt.jellyfin.vgchl.internal {
	reverse_proxy qbittorrent:5080
}

bazarr.jellyfin.vgchl.internal {
	reverse_proxy bazarr:6767
}

prowlarr.jellyfin.vgchl.internal {
	reverse_proxy prowlarr:9696
}
