[Container]
Image=lscr.io/linuxserver/prowlarr:latest
Volume=/var/mnt/config/prowlarr:/config:rw,z
Network=jellyfin.network
NetworkAlias=prowlarr
Environment=PUID=1111
Environment=PGID=1111
UIDMap=+1111:@%U
GIDMap=+1111:@%G
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
