[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
Volume=/var/mnt/data/downloads:/data/downloads:rw,z
Volume=/var/mnt/config/qbittorrent:/config:rw,z
PublishPort=6881:6881
PublishPort=6881:6881/udp
Environment=WEBUI_PORT=5080
Environment=TORRENTING_PORT=6881
Environment=PUID=1234
Environment=PGID=1234
UIDMap=+1234:@%U
GIDMap=+1234:@%G
Network=jellyfin.network
NetworkAlias=qbittorrent
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
