[Container]
Image=docker.io/itzg/minecraft-server:latest
Volume=/var/mnt/data/minecraft:/data:rw,z
PublishPort=25565:25565/tcp 
PublishPort=8100:8100/tcp
EnvironmentFile=/home/worker/minecraft.env
AutoUpdate=registry
UIDMap=+1000:@%U

[Service]
Restart=always

[Install]
WantedBy=default.target
