[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
Volume=/var/mnt/data/downloads:/data/downloads:rw,z
Volume=/var/mnt/data/qbittorrent/config:/config:rw,z
PublishPort=5080:5080
PublishPort=6881:6881
PublishPort=6881:6881/udp
Environment=WEBUI_PORT=5080
Environment=TORRENTING_PORT=6881
Environment=PUID=%U
Environment=GUID=%G
UserNS=keep-id
Network=jellyfin.network
NetworkAlias=qbittorrent
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
